{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading tcn-heading">Abundant Life <span class="text-muted">Adult Ministries</span></h2>
          <p class="lead">
              Jesus said, “I am come that they might have life, and that they might have it more abundantly.” John 10:10 (KJV).
              Abundant Life Adult Ministries seeks to assist adults in living the abundant life. In order to do so, we believe
              that it is important that men and women have a MISSION in life, so that Tri-County Church of the Nazarene can be
              a church with impact. Abundant Life Adult Ministries connects our adults to mission and purpose. We do this through
              a variety of means.
          </p>
            <p class="lead">
                <span style="font-weight:bold;">Life Groups / Sunday School</span><br />
                Sundays at 9:30 a.m. and various times throughout the week.
                <br /><br />
                <span style="font-weight:bold;">Body Life</span><br />
                A multi-level program aimed at developing spiritual maturity and
                spiritual gift discovery and ministry placement within the body. Classes are offered at various times throughout the year.
                <br /><br />
                <span style="font-weight:bold;">Timothy / Discipleship</span><br />
                The Timothy team is responsible for discipleship and establishing new converts while teaching relationship and
                training them in the Word Of God.
                <br /><br />
                <span style="font-weight:bold;">Prime Time Seniors</span><br />
                Senior adults minister to each other through various types of fellowship. Throughout the year, there are regularly
                scheduled activities, trips and projects. There are many opportunities for service in this ministry.
                <br /><br />
                <span style="font-weight:bold;">Men of Action</span><br />
                Our men’s ministry goal is for men to gather for fellowship and prayer. Special activities for spiritual
                development are scheduled throughout the year.
                <br /><br />
                <span style="font-weight:bold;">Pastor's Prayer Partners</span><br />
                These dedicated men pray for and support our pastors by meeting with them early on Sunday mornings
                and praying for their specific needs.
                <br /><br />
                <span style="font-weight:bold;">Men's Prayer Breakfast</span><br />
                Men meet several times a year to have breakfast together, unite in prayer and to enjoy each other’s
                fellowship. Ladies are encouraged to sign up to help cook and/or serve at this event.
                <br /><br />
                <span style="font-weight:bold;">L.I.F.T</span><br />
                Ladies In Fellowship Together is our Women’s Ministry. Women gather for fellowship and to encourage one
                another in the faith. They meet regularly for special activities and teaching throughout the year.
                <br /><br />
                <span style="font-weight:bold;">Topical Needs</span><br />
                TCN wants to support families and their special needs. Classes are held throughout the year to meet
                “felt needs” such as budgeting, divorce recovery, grief recovery and parenting classes.
                <br /><br />
                <span style="font-weight:bold;">Mission Trips</span><br />
                We send Work and Witness teams to exciting places every other year. We have made trips were to Guatemala,
                Gelnhausen in Germany, and Antigua in the Caribbean Islands.
                <br /><br />
            </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" style="padding-top:120px;" src="{% static "website/images/SDMI-Logo.jpg" %}" alt="Generic placeholder image">
        </div>
      </div>

{% endblock %}