{% load static %}
<!DOCTYPE html>
<html lang="en">   <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tri-County Church of the Nazarene</title>
        <link href="{% static "website/css/web/appearance.css" %}" rel="stylesheet" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 10;">
            <div class="container">
                <img src="{% static "website/images/TCNLogoTransForDarkBG.png" %}" style="float:left;margin-right:30px;" />
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="/">TCN</a> -->
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown navbar-inverse">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ministries <span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-inverse">
                                <li><a href="/abundant-life-adults" style="color: #999;">&gt; Abundant Life Adults</a></li>
                                <li><a href="/real-life-youth" style="color: #999;">&gt; Real Life Youth</a></li>
                                <li><a href="/kids-life-children" style="color: #999;">&gt; Kid's Life Childrens</a></li>
                            </ul>
                        </li>
                        <li><a href="/beliefs">Beliefs</a></li>
                        <li><a href="/mission-vision">Mission / Vision</a></li>
                        <li><a href="/youth-sermon-library/page1">Youth Sermons</a></li>
                        <!-- <li class="dropdown navbar-inverse">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Digital Worship <span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-inverse">
                                <li><a href="/sermon-library" style="color: #999;">&gt; Sermon Library</a></li>
                                <li><a href="/youth-sermon-library/page1" style="color: #999;">&gt; Youth Sermon Library</a></li>
                                <li><a href="/video-library" style="color: #999;">&gt; Video Library</a></li>
                            </ul>
                        </li> -->
                        <li><a href="/newsletters">Weekender</a></li>
                        <li><a href="/calendar">Calendar</a></li>
                        <li><a href="/contact-directions">Contact &amp; Directions</a></li>
                    </ul>
                    <!-- Uncomment when search is implemented.
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Search for..." class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                    -->
                </div><!--/.nav-collapse -->
            </div>
        </nav>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:30px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static "website/images/sunset_13323.jpg" %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption" style="color:#000;">
                <br /><br />
                <h1>Worship Opportunities</h1>
              <p>
                  Sunday Morning<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;Sunday School - 9:30 A.M.<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;Morning Worship - 10:40 A.M.<br /><br />
                  Sunday Evening<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;Evening Service - 6:00 P.M.<br /><br />
                  Wednesday Evening<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;Great Commission Ministries - 7:00 P.M.<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;Children's AWANA Program - 6:30 P.M.<br /><br />
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <img class="second-slide" src="{% static "website/images/swirls_9258.jpg" %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Missions Opportunities</h1>
              <p>
                  Tri-County Church of the Nazarene is partnering with Because International in their The Shoe That Grows
                  mission project. We will be taking offerings during morning services to support this great missions opportunity.
                  See more information below.
              </p>
              <img src="{% static "website/images/TheShoeThatGrowsProduct.png" %}" /><br /><br />
              <img src="{% static "website/images/TheShoeThatGrows.png" %}" /><br /><br />
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static "website/images/WEFEasterOfferingFeature.jpg" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="{% static "website/images/ReviveAmerica.png" %}" alt="Karen Peck">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fifth-slide" src="{% static "website/images/KarenPeck.png" %}" alt="Revive America">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    {% block content %}
    {% endblock %}

        <footer class="footer navbar-inverse">
            <div class="container">
                <img src="{% static "website/images/TCNLogoTransForDarkBG.png" %}" style="float: left; padding-top: 5px;" />
                <p class="text-muted" style="float:right;padding-right:30px;padding-top:23px;">Copyright &copy; 2017, Tri-County Church of the Nazarene</p>
            </div>
        </footer>

    </div><!-- /.container -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
