{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading tcn-heading"><span class="text-muted">Our</span> Beliefs</h2>
            <p class="lead">
                <span style="font-weight:bold;">We believe</span><br />
                in one God-the Father, Son, and Holy Spirit.
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                in the verbal plenary inspiration of the accepted Canon of Scriptures as originally given and believe
                that they are infallibly and uniquely authoritative and free from error of any sort in all matters
                with which they deal, scientific and historical as well as moral and theological.<br />
                (II Timothy 3:16; 1 Corinthians 2:13)
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                that man is born with a fallen nature, and is, therefore, inclined to evil, and that continually.
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                that the finally impenitent are hopelessly and eternally lost.
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                that the atonement through Jesus Christ is for the whole human race; and that whosoever repents and
                believes on the Lord Jesus Christ is justified and regenerated and saved from the dominion of sin.
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                that believers are to be sanctified wholly, subsequent to regeneration, through faith in the
                Lord Jesus Christ.
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                that the Holy Spirit bears witness to the new birth, and also to the entire sanctification of believers.
                <br /><br />
                <span style="font-weight:bold;">We believe</span><br />
                that our Lord will return, the dead will be raised, and the final judgment will take place.
                <br /><br />
            </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "website/images/WeBelieve.jpg" %}" alt="Generic placeholder image">
        </div>
      </div>

{% endblock %}