{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-12">
	    <h1>TCN Calendar</h1>
            {% for calendar_item in calendar_items %}
                <div class="lead" style="width:100%;margin:0px;padding:10px;background-color:{% cycle "#dddddd" "#bbbbbb" %};">
                    {{ calendar_item }}
                </div>
            {% endfor %}
            <div class="lead" style="width:100%;margin:0px;padding:10px;background-color:#ffffff;">
                &nbsp;
            </div> 
       </div>
      </div>

{% endblock %}
