{% extends "website/base_website.html" %}

{% load static %}

{% block content %}
    <div class="container">
      <div class="row featurette">
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" src="{% static "website/images/newsletters.jpg" %}" alt="Nazarene Youth International" />
        </div>
        <div class="col-md-8">
            <div class="lead" style="width:100%;margin:0px;padding:0px;margin-bottom:20px;">
                {% for newsletter_name in newsletter_names %}
                    <div class="lead" style="width:100%;margin:0px;padding:10px;background-color:{% cycle "#dddddd" "#bbbbbb" %};">
                        <a href="/media/weekletters/{{ newsletter_name|slice:"28:42" }}">{{ newsletter_name|slice:"42:" }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
      </div>

{% endblock %}
