{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-8 col-md-push-4">
          <h2 class="featurette-heading tcn-heading">Real Life <span class="text-muted">Youth Ministries</span></h2>
          <p class="lead">
              Real Life Youth Ministries exists to impact today’s generation, CONNECTING young people through
              relationships, challenging them to EMBRACE God and THRIVE in their spiritual JOURNEY!
              <br /><br />
              Let’s get real... life is hard. And being a teenager doesn’t make it any easier. That’s where Real
              Life Youth Ministries comes in. It’s all about experiencing Real Life... through real relationships
              with real people... and a real God who gives real hope and real answers to real problems.
              <br /><br />
              Our name indicates exactly who we are and what we believe in a world that so often asks to “play the game”
              and “wear the mask,” we’ve chosen to focus on being real and experiencing the true and abundant life for
              which God created us. Jesus said in John 10:10, I came so you could have Real and eternal Life, a better
              life than you have ever dreamed of.” That is what we desire for our students that they may simply experience
              real life in a real relationship with Jesus Christ.
          </p>
        </div>
        <div class="col-md-4 col-md-pull-8">
          <img class="featurette-image img-responsive center-block" src="{% static "website/images/NYI Global Logo.jpg" %}" alt="Generic placeholder image">
            <div class="lead" align="center">
                <br /><br />
                Latest Youth Sermon
                <br />
                {% with sermon_name=sermon_name_list|first %}
                    {{ sermon_name|slice:"5:7" }}/{{ sermon_name|slice:"8:10" }}/{{ sermon_name|slice:":4" }}
                    <br />
                    <span style="font-weight: bold;">{{ sermon_name|slice:"11:-4" }}</span>
                    <br />
                    <audio controls width="320" class="embed-responsive-item">
                        <source src="/media/audio/{{ sermon_name }}" type="audio/mp3" />
                    </audio><br />
                {% endwith %}
            </div>
        </div>
      </div>

{% endblock %}